extends index.pug

block content
  div.typewriter
    h1 Welcome
  #home
    h3.mt-4.text-center Recent Blogs
    #cardbox.d-flex.flex-row.flex-wrap
    .d-flex.justify-content-center
      button.btn-outnline-primary#next Next
      button.btn-outnline-primary#prev Prev
block script
  script(src='../static/Home.js')