
*{
    margin: 0px;
}

.white{
    color: white;
}


#cardbox a{
    text-decoration: none;
    color: black;
}
/* .card .row{
    display:flex;
    flex-direction: row-reverse;
} */
 .card img{
    height: 100%;
    border-radius: 4px;
}

.card *{
    color:white;
}
.card {
    background: rgba(0,0,0,0.8);
  }
  
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .card {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
  }

/* 

.homecard{
    max-width: 540px;
} */

  





#checkuser{
    margin: 2px;
    height:10px
}

#cardbox{
  justify-content: space-evenly;
  }

/* @media(max-width: 767px){
  .card{
    max-height: none !important;
  }
} */

#home::before{
    content:"";
    background: url('/static/bg-home.jpg') no-repeat center center/cover;
    position: fixed;
    top:0px;
    left:0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;

}


/* _______Prodile Page Css__________ */

#box::before{
    content:"";
    background: url('/static/bg-profile.jpg') no-repeat center center/cover;
    position: fixed;
    top:0px;
    left:0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;

}

#smallbox li{
    background-color: transparent;

}

@media(max-width:492px){
    #profilepic{
        margin: auto;
    }
}

#blogbox::after{
    content:"";
    background: url('/static/bg-profile.jpg') no-repeat center center/cover;
    position: fixed;
    top:0px;
    left:0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;

  }

  #blogbox *{
    color: black;
  }

  
  .navbar .btn{
    margin-right:6px;
  }

  .navbar form{
    margin-right:6px;
  }

.typewriter{
    width: 208px;
    margin: auto;
    text-align: center;
}
  .typewriter h1 {
    color: #e62fc0;
    font-size: 39px;

    overflow: visible; 
    
    border-right: .15em solid orange;
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 1s steps(7,end),
      blink-caret .75s step-end infinite;
  }
  
 
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }


  #next{
    width: 70px;
    background-color: #e62fc0;
    color: white;
    border-color:#e62fc0; 
    border-radius: 15px ;
  }

  #next:hover{
    background: transparent;
    color:#e62fc0;
    
    
  }
  #prev{
    width: 70px;
    background-color: #e62fc0;
    color: white;
    border-color:#e62fc0; 
    border-radius: 15px ;
  }

  #prev:hover{
    background: transparent;
    color:#e62fc0;
    
    
  }


  #searchlist{
    background-color: white;
    max-width: 222px;

    position: absolute;
    width: 100%;
    top:47px;
    border: 2px solid blue;
border-radius: 5px;
  }

  @media(max-width:991px){

    #searchlist{
      position: relative;
      top: 0px;
    }
  }

  .hcard{
    display: flex;
    flex-direction: row;
  }

  @media(max-width:560px){
    .hcard{
      flex-direction: column;
    }
    .rcard{
      width: 70%;
    }
  }
  @media(max-width:260px){
    
    .rcard{
      width: 100%;
    }
  }